<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{url_for('static',filename='css/sb-admin-2.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

</head>

<body class="bg-gradient-primary">
<div class="container-fluid">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 ont-weight-bold mb-0 text-gray-800 mb-2">IP Address Geolocator</h1>
            <form class="needs-validation justify-content-center" method="POST" action="/">
                <div class="form-row justify-content-center">
                    <label for="ip" class="mr-2 mb-4 font-weight-bold mb-0 text-gray-800 my-2">Enter IP Address</label>
                    <p></p>
                    <input type="text" class="form-control w-50 p-3" id="ip" name="ip" value="{{ip if ip}}"
                           required>
                    <p></p>
                    <button class="btn btn-primary ml-2 mb-4" type="submit" name="btn" value="sub">Submit</button>

                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card border-left-success shadow h-100 py-2 mb-2 mt-4">
                <!--                <div >{{city}}</div>-->
                <!--                <div >{{state}}</div>-->
                <div class="card-header font-weight-bold mb-0 text-gray-800 my-2">
                    Information about IP
                </div>
                <div class="font-weight-bold mb-0 text-gray-800 my-2">{{ifInvalid}}</div>
                <ul>
                    {% for item in list %}
                    <li class="font-weight-bold mb-0 text-gray-800 my-2">{{item.upper()}} - {{list[item]}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-left-success shadow h-100 py-2 mb-2 mt-4">
                <div class="card-header font-weight-bold mb-0 text-gray-800 my-2">
                    Location on Map
                </div>
                <div class="card-body">
                    <div id="mapid" style="height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
var map = L.map('mapid').setView([{{lat}}, {{lon}}], 13);
L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(map);
	var marker = L.marker([{{lat}}, {{lon}}]).addTo(map);











</script>
<script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>